*{
    padding: 0;
    margin: 0;
}
body{
    background-image: url('../resources/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    font-family: Roboto, sans-serif;;
}


/* Homepage style */
.card-header{
    font-weight: 800;
}
.card-subheader{
    font-weight: 700;
}
.accessibility-text{
    font-size: 10px;
}
.card-button{
    font-size: 24px;
}
.accessibility{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.accessibility-link-container{
    display: block;
    width: max-content;
}

.secondary-card{
    background: #222;
}

.all-container{
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.all-container::-webkit-scrollbar { 
    display: none; /* Chrome, Safari and Opera */
}

@media only screen and (min-width: 768px) and (max-width: 1024px){
    .card{
        width: 60vw;
        height: max-content;
        position: absolute;
        top: 30px;
        left: 30px;
        border-radius: 20px;
        z-index: 3;
    }
    .secondary-card{
        background: rgba(0,0,0,.85);
        display: grid;
        grid-template-columns: 1fr 28vw;
        grid-gap: 10px;
        width: 80vw;
        height: max-content;
        position: absolute;
        top: 100px;
        right: 30px;
        border-radius: 20px;
        padding-bottom: 50px!important;
    }
    .secondary-card .left-column{
        margin-top: 35vw;
    }
    footer{
        position: fixed;
        bottom: 0px;
        width: 100%;

    }
}
@media only screen and (min-width: 1024px) and (max-width: 2000px){
    .card{
        width: 40vw;
        height: max-content;
        position: absolute;
        top: 30px;
        left: 30px;
        border-radius: 20px;
        z-index: 3;
    }
    .secondary-card{
        background: rgba(0,0,0,.85);
        display: grid;
        grid-template-columns: 1fr 28vw;
        grid-gap: 10px;
        width: 70vw;
        height: max-content;
        position: absolute;
        top: 100px;
        right: 30px;
        border-radius: 20px;
        padding-bottom: 50px!important;
    }
    .secondary-card .left-column{
        margin-top: 25vw;
    }
    footer{
        position: fixed;
        bottom: 0px;
        width: 100%;

    }
    .all-container{
        width: 85vw;
        margin: 0 auto;
    }
}
/* End homepage style */

/* Start stellingen page style */

.stellingen-container{
    width: 100vw;
    height: 100vh;
}

.stellingen-container .header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.controls{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    bottom: 50px;
    left: 0px;
    width: 100vw;
}
.controls a{
    min-width: 100px;
}

.context-modal{
    display: none;
    grid-template-rows: 1fr 70px;
    position: absolute;
    inset: 40px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: white;
    color: black;
    overflow: hidden;
    z-index: 10;
    box-shadow: 0 0 3px 0 #999;
    padding: 30px;
}
.context-modal .context-modal-content{
    height: 100%;
    overflow: scroll;
}
.context-modal .context-modal-controls{
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid #333;
    padding-top: 15px;
}
.context-modal .context-modal-controls button{
    padding: 8px 33px;
}
.party_info{
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.party_info .party_position{
    min-width: 150px;
    text-align: center;
    border-radius: 100px;
}
.party_opinion{
    padding: 0 35px;
    margin-bottom: 30px;
    margin-top: 10px;
}
.result-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.result-row span{
    display: flex;
    align-items: center;
}
/* End stellingen page style */